[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-orca = {editable = true, path = ".", extras = ["all"]}

[dev-packages]
py-orca = {editable = true, path = ".", extras = ["testing", "dev"]}

[requires]
python_version = "3.11"
